<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>

    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body class="login-page">

    <!-- Forgot Password Form -->
    <div class="login-container">
        <form action="/forgotpassword" method="POST">
            <h1>Forgot Your Password?</h1>

            <!-- Username Input -->
             <small>Please enter your username in the box below and you will be able to change your password</small>
            <div class="input-box">
                <input type="text" name="username" placeholder="Username" required>
            </div>     

            <!-- Submit Button -->
            <button type="submit" class="btn">Submit</button>
        </form>

        <!-- Login Link -->
        <div class="forgotpassword-link">
            <p>Remembered your password? <a href="/login">Login</a></p>
        </div>
    </div>

</body>
</html>
