<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Are You Hungry?</title>
    <link rel="stylesheet" href="/static/css/styles.css"> <!-- Link to external CSS -->
</head>
<body>

    <!-- Navigation Bar -->
    <nav class="topnav">
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="/home">Home</a>
                <a href="/restaurants">Restaurants</a>
                {% if 'user_id' in session %}
                    <a href="/profile/{{ session['user_id'] }}">Profile</a>
                    <a href="/logout">Logout</a>
                {% else %}
                    <a href="/login">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Content Block (Home Page) -->
    <div class="home-page">
        <div class="text-content">
            <h2>Are you hungry? &#129316;</h2>
            <p>Welcome to our platform, where discovering your next favorite meal is effortless! Simply explore your options and let us guide you to a delightful dining experience. For a more personalized touch, sign up to save your preferences and streamline your future visits. Enjoy!</p>
        </div>
    </div>
    <footer>
        <p>&copy; 2024-2025 Are You Hungry? All rights reserved.</p>
    </footer>

</body>
</html>
