<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <h1>Are You Hungry?</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/search">Find Restaurants</a>
        </nav>
    </header>

    <main>
        <h2>Search for Restaurants</h2>
          
          
            <p>No restaurants found. Please try a different search.</p>
        
    </main>

    <footer>
        <p>&copy; 2024 Are You Hungry?
        </p>
    </footer>

</body>
</html>



